.httr-oauth
Figures/alphaBeta_K1C_HPRC_WIS_CMS/alphaBeta_Objects_PT_R4800.RData
Figures/alphaBeta_K1C_HPRC_BinsWIS_CMS/alphaBeta_Objects_PT_R3600.RData
Figures_assembled/Nature-response-figures-v1.pptx
Figures_assembled/Nature-response-figures-v4.pptx
Figures_assembled/Nature-response-figures-v5.pptx
Figures_assembled/Nature-response-figures-v2.pptx
Figures_assembled/Oncogene-main-text-figures-revision-v5.pptx
Figures_assembled/Tmp-figures-for-responses.pptx
Figures_assembled/Nature-response-figures-v3.pptx
Input_data/metaQiitaWGS_RNA_AllSeqPlatforms_Joined_WithBamcounts_and_Data_25Mar22.RData
Input_data/HPRC/pangenome-adapter-filter-pese_tcgadb_bac_vir_merged.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_tcgadb_bac_NONE_merged.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_tcgadb_bac_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-delta/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.knightlabid.biom
Input_data/cgcAPIMetadataJoined.RData
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_580contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_580contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_minimap2contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_580contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/pangenome-adapter-filter-pese/genus_tcgadb_bac_and_tcgadb_vir_580contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_580contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_580contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_minimap2contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_580contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/t2t-only-pese/genus_tcgadb_bac_and_tcgadb_vir_580contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_and_tcgadb_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_minimap2contamfilter_merged.biom
Input_data/against-tcga-kraken1-processed/transcript-removal/genus_tcgadb_bac_and_tcgadb_vir_minimap2contamfilter_merged.biom
Input_data/tcgaVbDataAndMetadataAndSNM.RData
Input_data/TCGAmutations-master/inst/extdata/MC3/COAD.RDs
Input_data/TCGAmutations-master/inst/extdata/MC3/STAD.RDs
Input_data/TCGAmutations-master/inst/extdata/MC3/UCEC.RDs
Input_data/TCGAmutations-master/inst/extdata/MC3/SKCM.RDs
Input_data/TCGAmutations-master/inst/extdata/MC3/LUSC.RDs
Input_data/TCGAmutations-master/inst/extdata/MC3/LUAD.RDs
Input_data/TCGAmutations-master/inst/extdata/Firehose/SKCM.RDs
Input_data/bins-method-five-tumor-only/bin-counts-table.tsv
Input_data/snmDataSampleTypeWithExpStrategyFINAL.RData
Input_data/against-tcga-kraken1-delta-fastp/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.biom
Input_data/against-tcga-kraken1-delta-fastp/pangenome-adapter-filter-pese/genus_dbtcga_without_580_and_29_bac_and_vir_NONE_merged.knightlabid.biom
Input_data/against-tcga-kraken1-delta-fastp/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.biom
Input_data/against-tcga-kraken1-delta-fastp/pangenome-adapter-filter-pese/genus_dbtcga_db_minus_580_Conterminator_NONE_merged.knightlabid.biom
Interim_data/data_vsnm_tcga_wis_features_subset_12Feb24.RData
Interim_data/cell2022_bacteriaFungi_counts_genus_level_for_RK_18Feb24.RData
Interim_data/Pangenome/data_vsnm_tcga_full_and_wis_features_subset_12Feb24.RData
Interim_data/Pangenome/metadata_stage_noMut_subsets_12Feb24.RData
Interim_data/K1C-T2T/data_raw_tcga_full_wis_bins_features_subset_23Feb24.RData
Interim_data/Human-HPRC/data_per_center_tcga_full_and_wis_features_subset_20Feb24.RData
Interim_data/K1C-HPRC/data_vsnm_tcga_full_wis_bins_features_subset_20Feb24.RData
Interim_data/K1C-HPRC/data_per_center_tcga_full_wis_bins_features_subset_20Feb24.RData
Interim_data/K1C-HPRC/metadata_stage_noMut_subsets_20Feb24.RData
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_cms_R5k/bray_curtis_pcoa_results.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_cms_R5k/jaccard_distance_matrix.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_cms_R5k/bray_curtis_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_cms_R5k/jaccard_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/bray_curtis_pcoa_results.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/jaccard_pcoa_results.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/jaccard_distance_matrix.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/bray_curtis_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/jaccard_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_unc_R30/bray_curtis_distance_matrix.qza
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/bdn_hms_R1500/bray_curtis_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/bdn_hms_R1500/jaccard_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_hms_R1k/bray_curtis_distance_matrix_significance.qzv
Qiime_data_and_scripts/core_metrics/K1C_HPRC_WIS/pt_hms_R1k/jaccard_distance_matrix_significance.qzv
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_WIS/countData_UNC_PT.biom
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_WIS/deicode_distance_HMS_PT.qza
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_WIS/deicode_distance_CMS_PT.qza
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_WIS/deicode_distance_HMS_BDN.qza
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_BinsWIS/deicode_distance_HMS_PT.qza
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_BinsWIS/deicode_distance_CMS_PT.qza
Qiime_data_and_scripts/Qiime_input_data/K1C_HPRC_BinsWIS/deicode_distance_HMS_BDN.qza
